/* Variables */
:root {
  --color-accent-light: #d9edbf;
  --color-accent: #ff9800;
  --color-primary: #2c7865;
  --color-primary-light: #90d26d;
  --color-primary-dark: #003333;
  --fs-xxl: 3.815rem;
  --fs-xl: 3.052rem;
  --fs-l: 1.953rem;
  --fs-m: 1.563rem;
  --fs-reg: 1rem;
  --fs-s: 0.8rem;
  --ff-heading: 'Pilcrow Rounded', sans-serif;
  --ff-body: 'Archivo', sans-serif;
  --ff-accent: 'Caveat', cursive;
  --spacing-4xl: 12.5rem;
  --spacing-3xl: 6.25rem;
  --spacing-2xl: 3.75rem;
  --spacing-xl: 2.5rem;
  --spacing-l: 1.75rem;
  --spacing-m: 1rem;
  --spacing-s: 0.75rem;
  --spacing-xs: 0.5rem;
  --spacing-xxs: 0.25rem;
}

/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.4;
  font-family: var(--ff-body);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Reusable Class */
.container {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.btn {
  display: inline-block;
  padding: 8px 28px;
  text-decoration: none;
  /* font-size: 18px; */
  color: black;
  border: 2px solid black;
  border-radius: 32px;
  font-weight: 500;
}

.btn-primary {
  background-color: var(--color-accent-light);
  border-color: var(--color-primary);
  color: var(--color-primary-dark);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-primary:hover {
  background-color: var(--color-accent);
  color: white;
  cursor: pointer;
}

.section-header {
  font-family: var(--ff-heading);
  font-size: var(--fs-xxl);
  line-height: 1.1;
  color: var(--color-primary);
  text-align: center;
}

.reversed-flex {
  flex-direction: row-reverse;
}

/* HEADER */
header {
  background-color: var(--color-primary-dark);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-m);
}

.logo-header {
  width: 144px;
}

.nav-item {
  list-style: none;
  display: flex;
  gap: var(--spacing-l);
}

.nav-list {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav-link {
  color: white;
  font-family: var(--ff-heading);
  text-decoration: none;
  font-size: var(--fs-m);
  transition: color 0.2s ease;
}

.nav-list:hover {
  transform: translateY(-3px);
}

.nav-list:hover .nav-link {
  color: var(--color-primary-light);
}

.hero-section {
  display: flex;
  position: relative;
  margin-top: var(--spacing-3xl);
  align-items: center;
}

.hero-description {
  margin-top: var(--spacing-l);
  position: relative;
  animation: slide-right 1s ease;
}

.hero-description span::after {
  content: '';
  display: block;
  height: 200px;
  width: 340px;
  background: url(stroke-1.svg);
  background-repeat: no-repeat;
  /* background-size: 200px; */
  position: absolute;

  top: 94px;
  left: 240px;
  z-index: -1;
}

.hero-description h1 {
  font-family: var(--ff-heading);
  font-size: 7.4506rem;
  /* font-size: var(--fs-xxl); */
  line-height: 0.9;
  /* width: 16ch; */
  letter-spacing: -3px;
  color: var(--color-primary);
  /* color: black; */
  /* pointer-events: none; */
}

.hero-description p {
  width: 54ch;
  /* font-size: var(--fs-m); */
  font-size: 1.375rem;
  margin-top: var(--spacing-l);
  /* letter-spacing: 1px; */
  font-weight: 200;
  /* line-height: 1.4; */
}

.hero-description a {
  margin-top: var(--spacing-xs);
}

.highlight-image-container {
  display: flex;
  gap: 1rem;
  /* justify-content: end; */
  margin-top: var(--spacing-l);
  /* position: absolute; */
  /* width: 100%; */
  /* right: 0; */
  /* z-index: -1; */
}

.highlight-image {
  width: 160px;
  /* background-color: black; */
  /* overflow: hidden; */
  transition: width 0.5s ease;
  mix-blend-mode: multiply;
}

/* .highlight-image:hover {
  width: 640px;
} */

.highlight-image img {
  border-radius: 16px;
  height: 600px;
  object-fit: cover;
}

.highlight-image:nth-of-type(1) img {
  /* background-color: blue; */
  /* border: 1px solid blue; */
  margin-top: -28px;
  /* mix-blend-mode: multiply; */
  object-position: -470px;
}

.highlight-image:nth-of-type(2) img {
  margin-top: 28px;
}

.highlight-image:nth-of-type(3) img {
  margin-top: -12px;
  object-position: -320px;
}

.highlight-image:nth-of-type(4) img {
  margin-top: 20px;
  object-position: -130px;
}

/* ===== */

.product-card-container {
  margin-top: 12.5rem;
  /* background-color: lightseagreen; */
  display: flex;
  /* gap: var(--spacing-m); */
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--color-primary-dark); */
  /* padding-inline: var(--spacing-xl); */
  /* padding-block: var(--spacing-l); */
  border-radius: 12px;
  /* margin-bottom: 12rem; */
  flex-direction: row-reverse;
  /* padding-right: 0; */
}

.product-text {
  position: relative;
}

.product-text p {
  text-align: center;
  /* color: white; */
  width: 16ch;

  /* align-self: center; */
}

.product-text p::after {
  content: '';
  display: block;
  height: 420px;
  width: 420px;
  background: url(stroke-2.svg);
  background-repeat: no-repeat;
  /* background-size: 200px; */
  position: absolute;

  top: 106px;
  left: 50px;
  z-index: -1;
}

.product-card {
  display: flex;
  /* gap: var(--spacing-xs); */
  /* background-color: var(--color-accent-light); */
  justify-content: space-between;
  /* align-items: center; */
  border-radius: 36px;
  /* padding-block: var(--spacing-m); */
  /* padding-inline: var(--spacing-s); */
  /* padding-right: 0; */
}

.chevron-svg {
  align-self: center;
  background-color: #2c7865;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.chevron-svg:hover {
  background-color: var(--color-accent);
}

/* .chevron-svg:hover svg path {
  stroke: var(--color-accent);
} */

.card {
  /* background-color: var(--color-accent-light); */
  width: 280px;
  /* height: max-content; */
  border-radius: 28px;
  padding-block: var(--spacing-s);
  padding-inline: var(--spacing-m);
  border: 2px solid var(--color-primary);
  /* box-shadow: rgba(44, 120, 101, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: rgba(217, 237, 191, 0.25) 0px 14px 28px,
    rgba(217, 237, 191, 0.22) 0px 10px 10px; */
  box-shadow: rgba(0, 51, 51, 0.25) 0px 25px 50px -12px;
}

.card:nth-of-type(2n) {
  /* width: 200px; */
  transform: scale(0.9);
  opacity: 0.7;
  box-shadow: none;
  pointer-events: none;
}

.card img {
  max-width: 220px;
  height: 220px;
  object-fit: contain;
}

.card h3 {
  color: var(--color-primary);
  margin-bottom: var(--spacing-xs);
}

.card p {
  margin-bottom: var(--spacing-m);
  line-height: 1.4;
}

.card .btn {
  font-size: var(--fs-s);
  display: block;
  width: 80%;
  margin-inline: auto;
}

/*  */

.desc-card-outer {
  background-color: var(--color-primary);
  margin-top: 12.5rem;
  background-image: url(/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 640px;
  /* background-size: contain; */
  /* background-position: bottom left; */
  padding-top: var(--spacing-m);
  /* margin-bottom: 12rem; */
}

.desc-card-outer > h2 {
  /* display: inline-block; */
  /* margin-inline: auto; */
  justify-content: center;
  color: white;
  width: max-content;
  margin-inline: auto;
  padding-inline: var(--spacing-xs);
  border-radius: 36px;
  background-color: var(--color-primary);
  /* padding-top: var(--spacing-s); */
  /* margin-top: var(--spacing-s); */
}

.desc-card-container {
  display: grid;
  gap: var(--spacing-m);
  grid-template-columns: repeat(2, 520px);
  justify-content: center;
  padding-bottom: var(--spacing-xl);
  padding-top: var(--spacing-m);
}

/* BACKUP */
/* .desc-card-container {
  display: grid;
  gap: var(--spacing-m);
  grid-template-columns: repeat(2, 460px);
  justify-content: center;
  padding-bottom: var(--spacing-xl);
  padding-top: var(--spacing-m);
} */
/* BACKUP */

.desc-card {
  padding: var(--spacing-l);
  border-radius: 12px;
  background-color: var(--color-accent-light);
}

.desc-card-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}

.desc-card-header {
  margin-bottom: var(--spacing-s);
}

.desc-card-header h3 {
  color: var(--color-primary-dark);
  font-family: var(--ff-heading);
  font-size: var(--fs-m);
}

.desc-card img {
  width: 64px;
}

/* .desc-card-text { */
/* font-weight: 200; */
/* } */

/*  */
.values-description-container {
  margin-top: 12.5rem;
}

.values-description {
  margin-top: var(--spacing-3xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xl);
  position: relative;
}

.values {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values .figure-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgb(243, 243, 243);
  border: 1px solid lightgray;
  padding: var(--spacing-m);
  /* height: 348px; */
}

.values:nth-child(2n) .figure-container:first-of-type {
  transform: rotate(3deg);
}

.values:nth-child(2n + 1) .figure-container:first-of-type {
  transform: rotate(-2deg);
}

.values .figure-container figure {
  width: 520px;
}

.values .figure-container figcaption {
  font-size: var(--fs-l);
  font-family: var(--ff-heading);
  margin-top: var(--spacing-m);
  font-family: var(--ff-accent);
  font-weight: 700;
  text-align: center;
}

figure img {
  /* height: 100%; */
  width: 100%;
  height: 348px;
  object-fit: cover;
}

.values p {
  width: 45ch;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.6;
}

.circle-blob {
  width: 36px;
  height: 36px;
  background-color: var(--color-primary);
  border-radius: 50%;
  /* align-self: center; */
}

.values-timeline {
  width: 76px;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.shadow-light {
  box-shadow: 0 0 40px var(--color-primary-dark);
}

/*  */

.contact-container {
  margin-top: var(--spacing-4xl);
  background-color: var(--color-accent-light);
  padding-block: var(--spacing-xl);
  background-image: url(/bg-contact-form.svg);
  background-repeat: repeat-x;
  background-size: 560px;
  background-position: 10px 420px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
  width: 100%;
  margin-top: var(--spacing-l);
}

.contact-form input {
  border-radius: 8px;
  border: 1px solid var(--color-primary-light);
  padding-block: var(--spacing-s);
  padding-inline: var(--spacing-m);
  padding-left: 44px;
}

.contact-form .input-wrapper:first-of-type input {
  background-image: url(user-solid.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 18px 14px;
}

.contact-form .input-wrapper:nth-of-type(2) input {
  background-image: url(envelope-solid.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 18px 16px;
}

.contact-form .input-wrapper textarea {
  background-image: url(comment-dots-solid.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 18px 16px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: grey;
}

/* .contact-form .input-wrapper:first-of-type input::placeholder {
  background-image: url(user-solid.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: -10px 2px;
} */

.contact-form textarea {
  border: 1px solid var(--color-primary-light);
  padding-block: var(--spacing-s);
  padding-inline: var(--spacing-m);
  resize: none;
  height: 112px;
  border-radius: 12px;
  padding-left: 44px;
}

.contact-form label {
  margin-bottom: 0.2rem;
}

.contact-form button {
  width: 600px;
  margin-top: var(--spacing-xs);
}

.contact-container .container > p {
  margin-top: var(--spacing-xs);
  text-align: center;
  font-size: 1.25rem;
}

.input-wrapper {
  width: 600px;
}

.input-wrapper > * {
  width: 100%;
}

.input-wrapper label {
  display: block;
}

/*  */

.footer {
  background-color: var(--color-primary-dark);
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-xl);
  color: white;
  /* border-top: 5px solid var(--color-primary); */
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-item h4 {
  font-size: 1.25rem;
  color: lightblue;
  margin-bottom: var(--spacing-m);
}

.footer-item:first-child p:nth-child(2) {
  margin-bottom: var(--spacing-xs);
}

.footer-item > img {
  width: 160px;
  margin-bottom: var(--spacing-m);
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-list-item {
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-list-item svg path {
  transition: fill 0.3s ease;
}

.footer-list-item:hover {
  color: var(--color-accent);
}

.footer-list-item:hover svg path {
  fill: var(--color-accent);
}

.footer-list-item + .footer-list-item {
  margin-top: var(--spacing-xs);
}

.footer-item:last-of-type .footer-list .footer-list-item {
  display: flex;
  /* height: 28px; */
  /* width: 90px; */
  align-items: center;
  gap: 0.5rem;
}

.footer-list-item svg {
  width: 18px;
}

/* Animation */
@keyframes slide-right {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
